* {
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	background-color: blanchedalmond;
	padding: 40px;
	width: 400px;
}

fieldset{
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.legend-form{
	background-color: hotpink;
	padding: 5px;
	border-radius: 5px;
}

.fieldset-input{
	background-color: #fff;
	padding: 5px 10px 5px 10px;
	margin-bottom: 20px;
}

.legend-input{
	display: none;
}

input{
	padding: 0;
	border-radius: 5px;
	border: none;
	outline: none;
	font-size: 16px;
}

button {
	padding: 10px;
	background-color: hotpink;
	border: none;
	border-radius: 5px;
	width: 82%;
	cursor: pointer;
}

button:hover{
	background-color: rgb(221, 51, 136);
}